@charset 'utf-8';

/* reset.css */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: ivory;
}
span{
    text-decoration: line-through;
}
a{
    text-decoration: none;
    font-style: italic;
}
div{
    width: 60%;
    color: red;
    background-color: yellowgreen;
}
h1{
}