@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}
#wrapper{
    border: 1px solid #888;
    border-radius: 20px;
    margin: 30px auto;
    padding: 30px;
    width: 400px;
}
p{
    text-align: center;
}
.login{
    background-color: #03c75b;
    color: #fff;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 10px;
}
div.text{
    text-align: center;
}
div.text > span{
    display: inline-block;
    padding: 0 20px 0 10px;
    border-right: 1px solid #888;
}
div.text > span:nth-child(3){
    border-right: none;
}
